.body {
  width: 100%;
  display: flex;
  margin-top: 20px;
  height: 85vh;
  gap: 20px;
}
.main{
  display: flex;
  flex-direction: column;
  display: flex;
  overflow: auto;
  width: auto;
  transition: all 0.5s;
  flex: 1;
}
@media screen and (max-width: 700px) {

  .main {
    width: 100%;
    margin-left: 0px;
  }
}